@import url('/src/styles/fonts.css');

body {
    margin: 0;
    font-family: 'NATS', sans-serif;
}

.pricing-intro {
    text-align: center;
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 20px;
    padding: 50px 20px;
}

.pricing-item {
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pricing-item:hover,
.pricing-item.selected {
    border-color: #7d6ab7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pricing-title {
    font-size: 1.6rem;
    margin-bottom: 30px;
}

.pricing-features {
    list-style: none;
    padding: 0;
}

.pricing-feature {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin: 20px 10px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
