body {
    color: #fdfdfd;
    background-color: #313131;
}

.enterprise-intro {
    color: #fdfdfd;
    background-color: #313131;
}

.enterprise-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    color: #fdfdfd;
    background-color: #313131;
    padding-bottom: 400px;
    margin-left: 140px;
    margin-right: 140px;
}

.enterprise-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    width: 40%;
}

.enterprise-sub-title {
    font-size: 24px;
    padding-left: 50px;
    padding-right: 100px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.sub-tiers-ul {
    color: #fdfdfd;
    border: 1px solid silver;
    border-radius: 5px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 40px;
    background-color: #1c1b1b;
    font-size: 16px;
    list-style: none;
    text-align: left;
    width: 100%;
    height: 500px;
}

.sub-tiers-ul li {
    padding: 10px;
    border: 1px solid white;
    border-left:none;
    border-right:none;
    border-top:none;
    padding-left: 50px;
    padding-right: 50px;
}