.github-stats {
    background-color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 0px;
}

.gh-stat {
    margin: 0px;
    border-right: 1px solid #313131;
    padding-top: 22px;
    padding-bottom: 0px;
}

.gh-stat:last-child {
    border-right: none;
}

.stat-container {
    padding-left: 70px;
    padding-right: 70px;
}

.gh-stat-title {
    overflow: hidden;
    white-space: nowrap;
}

.gh-stat-title.typed1 {
    animation: typing 2s forwards;
    animation-delay: 0s;
}

.gh-stat-title.typed2 {
    animation: typing 2s forwards;
    animation-delay: 1s;
}

.gh-stat-title.typed3 {
    animation: typing 2s forwards;
    animation-delay: 2s;
}

.gh-stat-title.typed1,
.gh-stat-title.typed2,
.gh-stat-title.typed3 {
    animation-fill-mode: backwards;
}

.gh-star {
    height: 46px;
    width: auto;
    margin: 0px;
}

.gh-pr {
    height: 47px;
    width: auto;
    margin: 0px;
}

.gh-fork {
    height: 48px;
    width: auto;
    margin: 0px;
}

.normal-weight {
    font-weight: normal;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}