#root {
    margin: 0 auto;
    text-align: center;
}

/* h1, h2, h3 {
    font-family: "Noto Sans", sans-serif;
} */

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 20px 0;
}

h2, h3 {
    font-size: 1.75rem;
    font-weight: 400;
    margin: 15px 0;
}

p {
    font-size: 1.45rem;
    margin: 10px 0;
}

.section {
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.main-title-div {
    color: #313131;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.single-line-div {
    background-color: #fefefe;
}

.uniting-div {
    color: #313131;
    background-color: #fefefe;
    background: linear-gradient(90deg, #5a5a5a, #000);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.s2s-div {
    background-color: #fefefe;
}

.community-div {
    color: #313131;
    background-color: #fefefe;
}

.ivy-logo {
    z-index: 1;
    width: 20%;
    height: auto;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.ivy-text {
    font-size: 1.50rem;
    font-weight: 700;
    background: linear-gradient(to right, #8871bb, #aa84c7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.internal-link {
    color: #08bc2c;
    font-weight: 700;
    text-decoration: none;
}

.internal-link:hover {
    text-decoration: underline;
}

#video1, #video-mob {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 600px) {
    #video1 {
        display: block;
    }
    #video-mob {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #video1 {
        display: none;
    }
    #video-mob {
        display: block;
    }
}

@media only screen and (max-width: 991px) and (min-width: 678px) {
    #video1 {
        object-position: 50% 0%;
    }
}

.fade-in {
    animation: fadeIn 1.8s ease-in-out;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.transpile-demo {
    background-color: #fdfdfd;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s;
}

.framework-selectors {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.framework-selectors div {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.3s;
}

.framework-selectors select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    transition: border-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    background: content-box;
    color: #313131;
    /* font-family: "Noto Sans"; */
}

.framework-selectors select:hover,
.framework-selectors select:focus {
    border-color: #8e44ad;
    box-shadow: 0 0 10px rgba(142, 68, 173, 0.2);
}

.framework-selectors img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    transition: transform 0.3s;

}

.framework-selectors img:hover {
    transform: scale(1.1);
}

.code-block {
    color: #d4d4d4;
    border-radius: 10px;
    text-align: left;
    overflow-x: auto;
    margin-bottom: 20px;
    transition: background-color 0.3s, border-color 0.3s;
    animation: fadeIn 0.5s ease-in-out;
    border: #7d6ab7;
    border-style: outset;
    border-top: thin;
    border-left: thin;
}

pre {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    transition: color 0.3s;
}

.framework-selectors select:hover + label,
.framework-selectors select:focus + label {
    color: #8e44ad;
}
