/* LandingPage.css */
@import url('/src/styles/fonts.css');

#root {
    margin: 0 auto;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'NATS Sans', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 20px 0;
}

h2, h3 {
    font-size: 1.75rem;
    font-weight: 400;
    margin: 15px 0;
}

p {
    font-size: 1.45rem;
    margin: 10px 0;
}

.section {
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.main-title-div {
    color: #313131;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.single-line-div {
    background-color: #fefefe;
}

.uniting-div {
    color: #313131;
    background-color: #fefefe;
    background: linear-gradient(90deg, #5a5a5a, #000);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.s2s-div {
    background-color: #fefefe;
}

.community-div {
    color: #313131;
    background-color: #fefefe;
}

.ivy-logo {
    z-index: 1;
    width: 20%;
    height: auto;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.ivy-text {
    font-size: 1.45rem;
    font-weight: 700;
    background: linear-gradient(to right, #8871bb, #aa84c7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.internal-link {
    color: #08bc2c;
    font-weight: 700;
    text-decoration: none;
}

.internal-link:hover {
    text-decoration: underline;
}


#video1, #video-mob {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 600px) {
    #video1 {
        display: block;
    }
    #video-mob {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #video1 {
        display: none;
    }
    #video-mob {
        display: block;
    }
}

@media only screen and (max-width: 991px) and (min-width: 678px) {
    #video1 {
        object-position: 50% 0%;
    }
}

.fade-in {
    animation: fadeIn 1.8s ease-in-out;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
