.supported-frameworks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.supported-frameworks img {
    margin-top: 50px;
    margin-bottom: 10px;
}

.jax-logo {
    height: 70px;
    width: auto;
    margin-left: 35px;
    margin-right: 35px;
}

.mlx-logo {
    height: 70px;
    width: auto;
    margin-left: 35px;
    margin-right: 35px;
}

.numpy-logo {
    height: 70px;
    width: auto;
    margin-left: 35px;
    margin-right: 35px;
}

.torch-logo {
    height: 52px;
    width: auto;
    margin-left: 35px;
    margin-right: 35px;
}

.tf-logo {
    height: 90px;
    width: auto;
    margin-left: 35px;
    margin-right: 35px;
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}