.supported-frameworks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px; /* Space between logos */
    padding: 50px 0; /* Top and bottom padding */
    background-color: #fdfdfd;
}

.framework-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px; /* Uniform height for all logos */
    width: 70px; /* Uniform width for all logos */
    transition: transform 0.3s;
}

.framework-logo img {
    height: 100%;
    width: 100%;
    object-fit: contain; /* Ensures logos maintain aspect ratio */
}

.framework-logo:hover {
    transform: scale(1.1);
}

.fade-in {
    animation: fadeIn 1.8s ease-in-out;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
