body {
    margin: 0;
}

.nav.bar {
    background-color: #1c1b1b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    position: sticky;
    top: 0;
}

.nav.bar ul {
    padding: 0;
    margin: 0.1rem;
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav.bar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav.bar button {
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
}

.nav.bar .title-button {
    border: none;
    background: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.nav.bar .page-links li:hover {
    filter: drop-shadow(0 0 .1rem #ffffffde);
}

.nav.bar .title-logo {
    font-size: 24px;
    font-weight: bold;
}