.transpilation {
    justify-content: space-between;
}

.transpilation img {
    height: auto;
    border: 1px solid black;
}

.ivy-transpile {
    border-radius: 20px;
    width: 500px;
}

.torch-model {
    border-radius: 30px;
    width: 550px;
    border: 1px solid black;
}

.tf-model {
    border-radius: 30px;
    width: 550px;
    border: 1px solid black;
}

.transpilation-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.transpilation-container img {
    height: auto;
    margin-bottom: 15px;
}

.transpilation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.framework-logo {
    width: 50px;
    height: auto;
}

.arrow {
    width: 450px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.explanation1-enter {
    opacity: 0;
    max-height: 0;
}

.explanation1-enter-active {
    opacity: 1;
    max-height: 500px;
    transition: opacity 2s, max-height 5s;
}

.explanation1-exit {
    opacity: 1;
    max-height: 500px;
}

.explanation1-exit-active {
    opacity: 0;
    max-height: 0;
    transition: opacity .5s, max-height .5s;
}